<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" routerLink="home">
      <img src="../assets/images/logo.png" width="50" height="50" alt="">
      <img src="../assets/images/no-bg-name.png" width="150" height="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact-us">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav registration mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link m-3" routerLink="register">Join Now</a>
        </li>
        <li class="nav-item">
          <a class="nav-link my-3" routerLink="login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="bg-body-tertiary py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <img src="../assets/images/no-bg.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h3>Important Links</h3>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about-us">About-us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="terms-and-policy">terms and policy</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h3>Contact Us</h3>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><span class="contact-us-item">phone:</span>+201145009898</li>
          <li class="nav-item"><span class="contact-us-item">address:</span>101 tomanbay el zaytoon, Cairo, Egypt.</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h3>Location</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d287.96844398938885!2d31.314110713714477!3d30.10216970168966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145815838a599bdf%3A0xcf3c5a718403660a!2sSt.%20Mark%20Private%20School!5e0!3m2!1sen!2seg!4v1707154310402!5m2!1sen!2seg"
          width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</footer>
<div class="create btn ms-auto" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="create a project" routerLink="create-project">+</div>